<a href="https://colab.research.google.com/github/khayk5ay/HDSC-STAGE-A/blob/main/HDSC_Stage_A_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
food_data = pd.read_csv('/content/drive/MyDrive/FoodBalanceSheets_E_Africa_NOFLAG.csv', error_bad_lines=False, encoding='latin-1')
#food_data.isna()
#food_data.head()

In [ ]:
#question 11
q11= food_data.groupby('Item')
q11[['Y2014', 'Y2017']].sum().loc["Animal fats"]
#q11#['Y2017'].sum()

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [ ]:
#q12
#mean value across the dataset for Year 2015
mean2015 = np.mean(food_data["Y2015"])

#standard deviation across the dataset for Year 2015
std2015 = food_data.std()["Y2015"]

#print results in 3 decimal places
print("The mean is ", format(mean2015, ".3f"))
print("The standard deviation is ", format(std2015, ".3f"))

The mean is  135.236
The standard deviation is  1603.404

In [ ]:
#q13
#total number of null values in Y2016 column
total_null_2016 = food_data.isnull().sum()['Y2016']

print('The total number of null values in 2016 is', total_null_2016)

The total number of null values in 2016 is 1535

In [ ]:
#q14
correlation_table = food_data.corr()

#get correlation values among the years
yearscorr = correlation_table.loc['Element Code', 'Y2014':]
yearscorr

#get maximum correlation value
#maxcorr = yearscorr.sort_values('Element Code', ascending = False).iloc[0]

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
Name: Element Code, dtype: float64

In [ ]:
#q15
groupby_element = food_data.groupby('Element')

groupby_element.sum().loc['Import Quantity', 'Y2014':]

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

In [ ]:
#q16
production_sum_2015 = groupby_element.sum().loc['Production', 'Y2014']

print("The total sum of production in 2015 is", format(production_sum_2015, ".2f"))

The total sum of production in 2015 is 1931287.75

In [ ]:
#q17
element_2018 = food_data[['Element', 'Y2018']]

element_2018.groupby('Element').sum().sort_values('Y2018', ascending = False).iloc[0]

Y2018    2161192.1
Name: Domestic supply quantity, dtype: float64

In [ ]:
#q18
element_2018.groupby('Element').sum().sort_values('Y2018').iloc[2]

Y2018    11833.56
Name: Protein supply quantity (g/capita/day), dtype: float64

In [ ]:
#q19
q19_df = food_data[['Element', 'Area', 'Y2018']]

q19_df.groupby(['Area','Element']).sum().loc['Algeria', 'Import Quantity']

Y2018    36238.29
Name: (Algeria, Import Quantity), dtype: float64

In [ ]:
#question 20
len(food_data.groupby('Area'))

49